extends base

block emailContent
  p Hi #{username}
  p You successfully created an account with the email "#{email}" on our Academlo Shop app 
  p Enjoy your visit on our page and contact support if you need anything
  p Good luck! Hope it works.